.box-style {
  display: flex;
  justify-content: space-between;
}
.box-style-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-style-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
