.box-style,
.box-style-wrap {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-style-wrap {
  flex-wrap: wrap;
  padding-top: 15px;
  border-top: 1px solid rgb(219, 216, 216);
}
