.simple-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    width: 455px;
    height: 134px;
}

.simple-input label {
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    font-style: normal;
}

.simple-input input {
    border: 1.8px solid #8AC0E2;
    width: 407px;
    height: 60px;
    border-radius: 8px;
    padding: 8px 24px;
}

.simple-input span {
    width: 407px;
    height: 21px;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
    text-align: left;
}



.simple-input-large {

}

