.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.logo,
.main-pic {
  margin: 20px 0px;
}

.main-pic {
  height: 300px;
  width: auto;
}
